.content
  .container-fluid
    .row
      .col-12.col-sm-6.col-md-3
        .info-box
          %span.info-box-icon.bg-info.elevation-1
            %i.fas.fa-cog
          .info-box-content
            %span.info-box-text Orders Awaiting Confirmation
            %span.info-box-number
              = Order.awaiting_confirmation.count

      .col-12.col-sm-6.col-md-3
        .info-box.mb-3
          %span.info-box-icon.bg-danger.elevation-1
            %i.fas.fa-thumbs-up
          .info-box-content
            %span.info-box-text Pre-Orders Awaiting Analysis
            %span.info-box-number
              = PreOrder.awaiting_analysis.count

      .clearfix.hidden-md-up

      .col-12.col-sm-6.col-md-3
        .info-box.mb-3
          %span.info-box-icon.bg-success.elevation-1
            %i.fas.fa-shopping-cart
          .info-box-content
            %span.info-box-text POs Outstanding
            %span.info-box-number
              = PurchaseOrder.outstanding.count
      .col-12.col-sm-6.col-md-3
        .info-box.mb-3
          %span.info-box-icon.bg-warning.elevation-1
            %i.fas.fa-users
          .info-box-content
            %span.info-box-text New Members
            %span.info-box-number 2,000

    .row
      .col-lg-6
        = lte_card title: 'Order Volume by Week', tools: :maximize do |tools|
          - content_for tools do
            %a.btn.btn-primary.btn-tool{:href => orders_path} Go to Orders
          = line_chart Order.group_by_week(:orderdate).count
      .col-lg-6
        = lte_card title: 'Pre-Order Volume by Week', tools: [:collapse, :maximize] do |tools|
          - content_for tools do
            %a.btn.btn-primary.btn-tool{:href => pre_orders_path} Go to Pre-Orders
          = line_chart PreOrder.group_by_week(:preorderdate).count
    .row
      .col-lg-6
        = lte_card title: 'Credit Card Billing Volume (Prev 30 days)' do
          = line_chart Order.where("orderccdate > ?", 30.days.ago).group_by_day(:orderccdate).count
