- focus_upload = params[:upload].present?

= tabs do
  = tab 'Create Single Item' do
    = render partial: 'form'
  = tab fa_icon('upload', text: 'Create From Spreadsheet') do
    = render partial: 'drop_zone'

- content_for :scripts do
  :coffee
    $(document).ready () ->
      if #{focus_upload}
        $('#upload-tab').tab('show')

      new DropZone '#{upload_purchase_order_path(@purchase_order)}'
