= simple_form_for [@purchase_order, @purchase_order_item],
    builder: NoAutocompleteFormBuilder,
    html: { 'data-controller' => 'price' },
    defaults: { disabled: local_assigns[:readonly], stimulus: {controller: 'price'} },
    wrapper: :vertical_form do |f|

  .row
    .col-4
      .card.card-outline.card-primary
        .card-header
          %h3.card-title General
        .card-body
          .row
            .col-12
              = f.association :sku, as: :sku_selection
            .col-6
              = f.input :poorderquant, stimulus: {target: :qty, action: 'change->price#updateQty'}

      .card.card-outline.card-secondary
        .card-header
          %h3.card-title Receiving
        .card-body
          .row
            .col-6
              = f.input :poorderrcvdquant
            .col-6
              = f.input :poorderrcvddate
            .col-6
              = f.input :poorderexpiration
          .row
            .col-2
              = f.input :poordersplit
            .col-2
              = f.input :poorderissue

    .col-4
      .card.card-outline.card-secondary
        .card-header
          %h3.card-title Pricing Detail
        .card-body
          .row
            = invoice_field(local_assigns) do |ff|
              .col-4= ff.input :invoice_subtotal, calculated: true, stimulus: { action: 'price#updateCalculatedFields', target: 'invoiceSubtotal' }, as: :currency
            .col-4= f.input :poorderprice,    stimulus: { action: 'price#updatePrice', target: :price },    linked_to: :poorderpriceper, error: 'bad', as: :currency
            .col-4= f.input :poorderpriceper, stimulus: { action: 'price#updatePrice', target: :pricePer }, linked_to: :poorderprice, as: :currency
          .row
            = invoice_field(local_assigns) do |ff|
              .col-4= ff.input :invoice_tax, calculated: true, stimulus: { target: :invoiceTax, action: 'price#updateCalculatedFields' }, as: :currency
            .col-4= f.input :poordertax,    stimulus: { target: :tax }, as: :currency
            .col-4= f.input :poordertaxper, stimulus: { target: :taxPer }, as: :currency
          .row
            = invoice_field(local_assigns) do |ff|
              .col-4= ff.input :invoice_sh, calculated: true, stimulus: { target: :invoiceSh, action: 'price#updateCalculatedFields' }, as: :currency
            .col-4= f.input :poordershipping,    stimulus: { target: :sh }, as: :currency
            .col-4= f.input :poordershippingper, stimulus: { target: :shPer }, as: :currency
          .row.post
            = invoice_field(local_assigns) do |ff|
              .col-4= ff.input :invoice_total, calculated: true, stimulus: { target: :invoiceTotal, action: 'price#updateCalculatedFields' }, as: :currency
            .col-4= f.input :poordertotal,    stimulus: { target: :total }, as: :currency
            .col-4= f.input :poordertotalper, stimulus: { target: :totalPer }, as: :currency
    .col-4
      .card.card-outline.card-secondary
        .card-header
          %h3.card-title Rebate Detail
        .card-body
          .row
            .col-3
              = f.input :poorderrebate
            .col-9
            .col-6
              = f.input :poorderrebatedeadline
            .col-6
              = f.input :poorderrebatesubmitted
            .col-12
              = f.input :poorderrebatenotes, as: :text

  - unless local_assigns[:readonly]
    .row
      = simple_form_submit(f)
