.row
  .col-12
    .card
      .card-header
        %h3.card-title
          MANF: #{@sku.manf}
          %br
          ITEM: #{@sku.itemno}
        .card-tools
          %img{:height => '20px', :alt => "AUDIT Logo", :src => "/img/logo.png", :style => ""}
          Accelerate
          %br
          United
      .card-body
        .row
          .col-6
            %span.strong
              =@sku.skudesc
          .col-3
            Max: #{@sku.skumaxtemp}
            %br
            Min: #{@sku.skumintemp}
        .row
          .col-4
            = Barby::Code39.new(@sku.skuid.to_s).to_svg(margin: 0, height: 40, xdim: 1).html_safe
          .col-4
            %h2=@sku.skuid
          .col-4
            SKU:
            %br/
            =@sku.sku
        .row
          .col-4
            BATCH:
            %br/
            =@purchase_order.pobatch
          .col-4
            = @purchase_order.poid
          .col-4
            %span.pull-right
              = Barby::Code39.new(@purchase_order.poid.to_s).to_svg(margin: 0, height: 40, xdim: 1).html_safe
