.content
  = simple_form_for @purchase_order_item, remote: true do |f|
    .row
      .col-8.offset-2
        .card.card-primary.card-outline
          .card-header
            %h2.card-title
              = fa_icon 'sign-in-alt'
              Receiving Item: #{@purchase_order_item.sku.skudesc}
          .card-body
            - if @purchase_order_item.diff_quant.zero?
              %h1 No Items Left to Receive
              Edit the item directly

              =link_to 'here', edit_purchase_order_item_path(@purchase_order_item)
            -else
              #stepper.bs-stepper
                .bs-stepper-header{:role => "tablist"}
                  = render partial: 'stepper/step', collection: @steps, as: :item, spacer_template: "stepper/ruler"
                .bs-stepper-content
                  - @steps.each do |step|
                    = step_content_for step[:key], form: f
    .row
      .col-12
        = render partial: 'purchase_order_items/table'

- content_for :scripts do
  :coffee
    $(document).ready ->
      window.stepper = new Stepper $('.bs-stepper')[0], animation: true, linear: false

      $('.bs-stepper .next').click (e) ->
        e.preventDefault()
        stepper.next()

      $('.bs-stepper .back').click (e) ->
        e.preventDefault()
        stepper.previous()
