.content
  = simple_form_for @purchase_order, defaults: { disabled: local_assigns[:readonly] }, wrapper: :vertical_form do |f|
    .row
      .col-12
        = card_with_tabs style: [:primary, :outline] do
          = tab 'General' do
            = render partial: 'general_tab', locals: { f: f }
          = tab 'Shipping' do
            .row
              .col-4
                = f.input :poshipdate
                = f.input :poshiptype
              .col-4
                = f.input :potrackingno
                = f.input :porcvdby
          = tab 'Payment' do
            .row
              .col-4
                = f.input :podatepaid
                = f.input :pochecksentdate
              .col-4
                = f.input :pomethodpaid
                = f.input :popaymentno
              .col-4
                = f.input :poamountpaid, as: :currency
          = tab fa_icon('sticky-note', text: 'Notes') do
            = f.input :ponotes, wrapper: :vertical_form

        - if action_name == 'show'
          .card.card-secondary.card-outline
            .card-header.border-bottom-0
              %h2.card-title PO Items
              .card-tools
                %a.btn.btn-tool{href: new_purchase_order_purchase_order_item_path(@purchase_order)}
                  = fa_icon 'plus', text: 'Add Item'

            .card.body
              = render_datatable PurchaseOrderItemsDatatable.new(po: @purchase_order),
                buttons:    false,
                charts:     false,
                entries:    false,
                filters:    false,
                inline:     false,
                namespace:  nil,
                pagination: false,
                search:     false,
                simple:     false,
                sort:       false

    - unless local_assigns[:readonly]
      .row
        = simple_form_submit(f)

- content_for :scripts do
  = javascript_include_tag 'purchase_order_items_datatable'
