.content
  = simple_form_for @purchase_order, defaults: { disabled: local_assigns[:readonly] }, wrapper: :vertical_form do |f|
    .row
      .col-12
        .card.card-primary.card-tabs
          .card-header.p-0.pt-1
            %ul#custom-tabs-one-tab.nav.nav-tabs{:role => "tablist"}
              %li.nav-item
                %a#custom-tabs-one-general-tab.nav-link.active{"aria-controls" => "custom-tabs-one-general", "aria-selected" => "true", "data-toggle" => "pill", :href => "#custom-tabs-one-general", :role => "tab"} General
              %li.nav-item
                %a#custom-tabs-one-shipping-tab.nav-link{"aria-controls" => "custom-tabs-one-shipping", "aria-selected" => "false", "data-toggle" => "pill", :href => "#custom-tabs-one-shipping", :role => "tab"} Shipping
              %li.nav-item
                %a#custom-tabs-one-payment-tab.nav-link{"aria-controls" => "custom-tabs-one-payment", "aria-selected" => "false", "data-toggle" => "pill", :href => "#custom-tabs-one-payment", :role => "tab"} Payment
              %li.nav-item
                %a#custom-tabs-one-notes-tab.nav-link{"aria-controls" => "custom-tabs-one-payment", "aria-selected" => "false", "data-toggle" => "pill", :href => "#custom-tabs-one-notes", :role => "tab"} Notes
          .card-body
            #custom-tabs-one-tabContent.tab-content
              #custom-tabs-one-general.tab-pane.fade.active.show{"aria-labelledby" => "custom-tabs-one-general-tab", :role => "tabpanel"}
                .row
                  .col-4
                    = f.input :pobatch, wrapper: :vertical_form
                    = f.input :podate, wrapper: :vertical_form
                  .col-4
                    = f.association :supplier1, wrapper: :vertical_form
                    = f.association :supplier2, wrapper: :vertical_form
                  .col-4
                    = f.input :posplrorderno, wrapper: :vertical_form
              #custom-tabs-one-shipping.tab-pane.fade{"aria-labelledby" => "custom-tabs-one-shipping-tab", :role => "tabpanel"}
                .row
                  .col-4
                    = f.input :poshipdate, wrapper: :vertical_form
                    = f.input :poshiptype, wrapper: :vertical_form
                  .col-4
                    = f.input :potrackingno, wrapper: :vertical_form
                    = f.input :porcvdby, wrapper: :vertical_form
              #custom-tabs-one-payment.tab-pane.fade{"aria-labelledby" => "custom-tabs-one-payment-tab", :role => "tabpanel"}
                .row
                  .col-4
                    = f.input :podatepaid, wrapper: :vertical_form
                    = f.input :pochecksentdate, wrapper: :vertical_form
                  .col-4
                    = f.input :pomethodpaid, wrapper: :vertical_form
                    = f.input :popaymentno, wrapper: :vertical_form
                  .col-4
                    = f.input :poamountpaid, wrapper: :input_group, prepend: 'fas fa-dollar-sign'
              #custom-tabs-one-notes.tab-pane.fade{"aria-labelledby" => "custom-tabs-one-notes-tab", :role => "tabpanel"}
                = f.input :ponotes, wrapper: :vertical_form

    .row
      .col-12
        .card
          .card-header
            %h3.card-title Items
            .card-tools
          .card-body.table-responsive.p-0
            = render_datatable PurchaseOrderItemsDatatable.new(po: @purchase_order)
