.btn-group
  - if resource.diff_quant.positive?
    = link_to split_order_item_path(resource), class: 'btn btn-sm btn-outline-secondary' do
      = fa_icon 'exchange-alt', text: 'Split'
  %a.btn.btn-sm.btn-success{href: confirm_picked_order_item_path(resource), data: {remote: true, method: :post, confirm: ''}}
    = fa_icon 'check-circle', text: 'Confirm Picked'
  %a.btn.btn-sm.btn-secondary{href: edit_order_item_path(resource)}
    = fa_icon 'edit', text: 'Edit'
  %button.btn.btn-sm.btn-default.dropdown-toggle.dropdown-icon{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
    %span.sr-only Toggle Dropdown
  .dropdown-menu{:role => "menu", :style => ""}
    %a.dropdown-item.text-danger{data: {confirm: "Really delete #{resource}?", method: :delete}, href: order_item_path(resource), title: "Delete #{resource}"} Delete
