.content
  = default_resource_form(read_only: local_assigns[:readonly]) do |f|
    .row
      -if @sku.has_issue?
        .col-12
          .callout.callout-danger
            %h5 This SKU currently is in ISSUE status
      .col-lg-6
        = lte_card title: 'General', tools: [:collapse] do
          =f.input :sku
          =f.input :manf
          =f.input :itemno
          =f.input :skudesc
          %hr
          =f.association :category
          =f.association :sku_class
          %hr
          .row
            .col-lg-4=f.input :skuminunits,     wrapper: :vertical_form
            .col-lg-4=f.input :skuminunitstype, wrapper: :vertical_form
            .col-lg-4=f.input :skuminpercs,     wrapper: :vertical_form
          %hr
          .row
            .col-lg-4=f.input :skumaxtemp, wrapper: :vertical_form
            .col-lg-4=f.input :skumintemp, wrapper: :vertical_form
            .col-lg-4=f.input :unitweight, wrapper: :vertical_form
          %hr
          =f.input :skunotes
      .col-lg-6
        = lte_card title: 'Substitutions', style: [:outline, :secondary], collapsed: false, tools: [:collapse, :maximize] do
          %p.card-text=@deleted
          - if @sku.is_house_brand?
            = f.input :house_brand_for
          - else
            House Brand(s):
            - SkuSubstitution.where(sub_id: @sku.skuid).each do |ss|
              = render SkuButtonComponent.new(sku: ss.house_brand)
          %table.table.table-sm
            %thead
              %tr
                %th Manf
                %th Link
                %th Desc
                %th=fa_icon 'plus', text: 'Add'
            %tbody
              - @sku.all_subs.each do |skusub|
                %tr
                  %td=skusub.sub.manf
                  %td=render SkuButtonComponent.new(sku: skusub.sub)
                  %td=skusub.sub.skudesc
                  %td
                    =link_to sku_substitution_path(skusub), remote: true, method: :delete, 'data-confirm': 'Really?' do
                      =fa_icon 'trash', class: 'text-danger'

        = lte_card title: "Inventory (#{@sku.dcloc})", style: [:outline, :secondary], collapsed: true, tools: :collapse do
          %p.card-text
            =f.input :dcloc
            - inv = @sku.inventory_count
            %table.table.table-sm
              %thead
                %tr
                  %th DC Current Qty
                  %th=inv&.dccurquant
              %tbody
                %tr
                  %td Total Received
                  %td=inv&.totalrcvd
                %tr
                  %td Total Cases Received
                  %td=inv&.totalcasesrcvd
                %tr
                  %td Total Units Received
                  %td=inv&.totalunitsrcvd
                %tr
                  %td Bought
                  %td=inv&.bought
                %tr
                  %td Sold
                  %td=inv&.sold

        .card.card-outline.card-secondary
          .card-header
            %h5.card-title.m-0 Vendor Info
            .card-tools
              #open_all.button.btn.btn-tool{type: :button}
                =fa_icon 'external-link-alt', text: 'Open All'

          .card-body.p-0
            %table.table.table-sm
              - @sku.vendors.each do |v|
                %tr
                  %th=v.name
                  %td=v.sku
                  %td
                    -if v.url.present?
                      =link_to v.url, v.url, class: 'sku-link', target: v.abbr

        .card.card-danger.card-outline
          .card-header
            %h3.card-title SKU Customer Never
            .card-tools
              .button.btn.btn-tool{type: :button, 'data-card-widget': :collapse, title: :collapse}
                %i.fas.fa-minus
          .card-body
            %p.card-text
              %table.table.table-compact
                - SkuCustInfo.never_for(@sku).each do |ci|
                  %tr{ data: { toggle: :tooltip }, title: ci.skucustnotes }
                    %th=ci.customer.custname
                    %td=ci.customer.custlast
                    %td=ci.customer.custbusinessname
                    %td=ci.skuneverdate&.to_date
        .card.card-success.card-outline
          .card-header
            %h3.card-title SKU Customer Only
            .card-tools
              .button.btn.btn-tool{type: :button, 'data-card-widget': :collapse, title: :collapse}
                %i.fas.fa-minus
          .card-body
            %p.card-text
              %table.table.table-compact
                - SkuCustInfo.only_for(@sku).each do |ci|
                  %tr{ data: { toggle: :tooltip }, title: ci.skucustnotes }
                    %th=ci.customer.custname
                    %td=ci.customer.custlast
                    %td=ci.customer.custbusinessname
                    %td=ci.skuonlydate&.to_date

    - unless local_assigns[:readonly]
      .row
        = simple_form_submit(f)

- content_for :scripts do
  :coffee
    $(document).ready ->
      $('#open_all').click (e) ->
        $('.sku-link').each (i, el) ->
          console.log el.target, el.href
          window.open(el.href, el.target)

