%h2.text-center.display-4 Receiving #{@sku}
.row
  .col-12
    .card
      .card-header
        %h3.card-title POs With this SKU Expected
      .card-body
        %table.table.table-bordered.table-hover.table-stripe.table-sm
          %thead
            %tr
              %th ID
              %th Date
              %th Batch
              %th Ship Date
              %th Supplier
              %th Supplier Order Number
          %tbody
            - @purchase_orders.each do |po|
              %tr{"aria-expanded" => "#{po.unfullfilled?}", "data-widget" => "expandable-table"}
                %td
                  = link_to po.id, purchase_order_path(po), title: 'Show', class: 'btn btn-sm btn-outline-secondary'
                %td= po.podate.to_date.to_s(:american)
                %td= po.pobatch
                %td= po.poshipdate
                %td= po.supplier2
                %td= po.posplrorderno
              %tr.expandable-body
                %td{:colspan => "5"}
                  %table.table.table-bordered.table-hover
                    %thead
                      %tr
                        %th
                        %th SKU Description
                        %th Order Qty
                        %th Order Total
                        %th Received On
                        %th Received Qty
                    %tbody
                      - po.items.where(skuid: @sku.skuid).each do |item|
                        %tr
                          %td
                            - if item.unfulfilled?
                              %a.btn.btn-small.btn-primary{href: receive_purchase_order_item_path(item)} Receive
                          %td= item.sku
                          %td= item.poorderquant
                          %td= number_to_currency(item.poordertotal)
                          %td= item.poorderrcvddate
                          %td= item.poorderrcvdquant

