- content_for :page_title do
  = @page_title

.content
  .row
    .col-12
      = lte_card style: [:secondary, :outline] do
        .row
          .col-4
            .btn-group
              - (5..1).step(-1).each do |i|
                =link_to I18n.l(Date.today - i.months, format: :month), "?scope=prev#{i}", class: 'btn btn-default'
              =link_to 'Current', "?scope=current", class: 'btn btn-default'
        .row
          .col-3
            - unless @invoice_amounts.present?
              %p.lead No billable orders in specified period
            - else
              %p.lead Invoice Amounts for #{@invoice_amounts.month}
              .table-responsive
                %table.table.table-sm
                  %tbody
                    %tr
                      %th{style: "width:70%"}
                        Total Cost of Purchases: #{@invoice_amounts.orders}
                      %td.text-right=number_to_currency(@invoice_amounts.current_total)
                    %tr
                      %th Gross Savings
                      %td.text-right=number_to_currency(@invoice_amounts.gross_savings)
                    %tr
                      %th Accelerate Price
                      %td.text-right=number_to_currency(@invoice_amounts.accelerate_total)
                    %tr
                      %th Subscription Amount
                      %td.text-right=number_to_currency(@invoice_amounts.customer.subscription_amount)
                    %tr
                      %th
                        Returns
                        - if @invoice_amounts.return_orders.any?
                          #{@invoice_amounts.return_orders}
                      %td.text-right=number_to_currency(@invoice_amounts.total_returns)
                    %tr
                      %th Download to CSV
                      %td.text-right
                        = link_to(billing_customer_path(format: :csv, scope: params[:scope]), class: 'btn btn-secondary') do
                          = fa_icon :download

        .row
          .col-2#summary1
          .col-2#summary2

      = lte_card do
        = render_datatable @datatable,
          entries: false,
          pagination: false,
          buttons: true,
          sort: false,
          search: false

- content_for :scripts do
  = javascript_include_tag "margin_report_datatable"
  = javascript_include_tag "customers/billing"
