= simple_form_for @resource, defaults: { wrapper: :vertical_form, disabled: local_assigns[:readonly] }, wrapper: :vertical_form do |f|
  = card_with_tabs style: [:primary, :outline, 'outline-tabs'] do
    = tab 'General' do
      .row
        .col-4
          = f.input :orderbatch, disabled: true
          = f.input :orderdate
        .col-4
          = f.association :customer
          = f.input :ordertaxrate
        .col-4
          = f.input :orderdelivereddate
      .row
        .col-4
          .row
            .col-9
              = f.input :preordercompletedate
            .col-3.text-right.align-bottom
              - if @order.pre_order.present?
                = link_to @order.pre_order, class: 'btn btn-outline-secondary', target: :blank do
                  = fa_icon 'external-link-alt', text: "Go to Pre-Order #{@order.pre_order.preorderid}", right: true
        .col-4
          = f.input :orderconfirmdate
        .col-4
          = f.input :orderccdate
    = tab 'Shipping' do
      .row
        .col-4
          = f.input :orderdeliverdfrom
          = f.input :orderdeliveredto
        .col-4
          = f.input :ordershipmethod
          = f.input :orderreceipthl
    = tab 'Payment' do
      .row
        .col-4
          = f.input :orderdateinvoiced
          = f.input :orderdatepaid
        .col-4
          = f.input :orderpaymentmethod
          = f.input :orderpaymentamount
        .col-4
          = f.input :qbo_invoice_number

    = tab 'Notes' do
      = f.input :ordernotes, wrapper: :vertical_form

  - unless local_assigns[:readonly]
    .row
      = simple_form_submit(f)
