.content
  .row
    .col-12
      = render 'form', readonly: readonly
      - title = capture do
        %a.btn.btn-tool.btn-outline-secondary{href: new_order_order_item_path(@order)}
          = fa_icon 'plus', text: 'Add Item'
      = lte_card title: title, style: [:outline, :secondary] do |tools|
        - content_for tools do
          = simple_form_for @order do |f|
            = f.input :ship_date, as: :date,
                                  wrapper: :horizontal_date,
                                  label: 'Target Ship Date:',
                                  label_html: { class: 'text-right' },
                                  input_html: { value: Date.today }

        = render_datatable OrderItemsDatatable.new(order: @order), simple: true

- content_for :scripts do
  = javascript_include_tag 'order_items_datatable'
