.content
  %table.table.table-sm.table-borderless
    %tr
      %td.w-25
        %strong Accelerate United
        %br
        10 East 9th Street, Suite G
        %br
        Lawrence, KS 66044
        %br
        Phone: (785) 748-0871
      %td.w-25
        %img{:height => '100px', :alt => "AU Logo", :src => "/img/logo_black.png", :style => ""}
      %td.w-25
        %h1 Invoice
      %td.w-25.text-right
        Invoice Date: #{@report_date}
        %br
        Order Date: #{@order.orderdate.to_date}
    %tr
      %td.w-25.text-right
        %strong TO:
        = @customer.full_name
        %br
        = @customer.custbusinessname
        %br
        = @customer.custaddress
        %br
        = @customer.city_state_zip
      %td.w-25
      %td.w-25
        %h2.text-right Order Number:
      %td.w-25.text-right()
        %h2.text-left
          = @order.orderbatch
        = Barby::Code39.new(@order.orderid.to_s).to_svg(margin: 0, height: 40, xdim: 4).html_safe
        %br
        =@order.orderid
    %tr
      %td.align-bottom
        #{@order.items.size} SKUs Total
      %td(colspan=2)
        Order Notes:
        %br
        = @order.ordernotes
      %td
        .callout.callout-info
          %table.table
            %tr
              %th.text-right Subtotal
              %td=number_to_currency(@order.ordersubtotal)
            %tr
              %th.text-right S and H
              %td=number_to_currency(@order.orderdeliverycosttotal)
            %tr
              %th.text-right Sales Tax
              %td=number_to_currency(@order.ordertaxtotal)
            %tr
              %th.text-right TOTAL
              %td=number_to_currency(@order.orderpricetotal)

  %table.table.table-striped.table-sm.table-bordered
    %thead
      %th.border.border-dark Qty
      %th.border.border-dark UoM
      %th.border.border-dark SKUID
      %th.border.border-dark Manf
      %th.border.border-dark Item #
      %th.border.border-dark Desc
      %th.border.border-dark Price Per
      %th.border.border-dark Price Total
    %tbody
      - @order.items.each do |item|
        %tr
          %td=item.orderquant
          %td=item.sku.skuminunitstype
          %td=item.sku.skuid
          %td=item.sku.manf
          %td=item.sku.itemno
          %td=item.sku.skudesc
          %td=item.orderpriceper
          %td=item.orderpricetotal




