%table.table.table-sm.table-borderless.m-0
  %tr
    %td.wpc10
      %b FROM:
    %td=render OfficeAddressComponent.new
    %td=logo_image

%table.table.table-sm.table-borderless.m-0
  %tr
    %td(colspan=2)
      %strong=@order.orderid
    %td.float-right
      %u Order # #{@order.orderbatch}
      %br
      Order Date: #{@order.orderdate.to_date}

%table.table.table-sm.table-borderless.m-0
  %tr
    %td.wpc10
      %b TO:
    %td
      = @customer.full_name
      %br
      = @customer.custbusinessname
      %br
      = @customer.custaddress
      %br
      = @customer.city_state_zip
