- content_for :page_title do
  =@page_title

.content
  .row
    .col-md-8.offset-md-2
      .input-group
        %input#search.form-control.form-control-lg(placeholder = "Filter By Order ID" type="text")
        .input-group-append
          %button.btn.btn-lg.btn-default{:type => "submit", data: { controller: 'receive', action: 'click->receive#search'}}
            %i.fa.fa-search

#accordian
- @customers.each do |cust_id, name|
  - batches = batches_for_customer(cust_id)
  .card.card-secondary.add-appropriate-style-fororderdate
    .card-header
      %h4.card-title.w-100
        -# for now, we'll expand by default. If we run the query as below, it introduces N+1
        - expanded = true ||@items.for_customer(cust_id).in_stock.known_location.any?
        %a.d-block.w-100{class: expanded ? '' : 'collapsed', "aria-expanded" => expanded, "data-toggle" => "collapse", :href => "#collapse#{cust_id}"}
          = name
    .collapse{class: expanded ? 'show' : '', id: "collapse#{cust_id}", "data-parent" => "#accordion", :style => ""}
      .card-body
        - batches.pluck(:orderid, :orderbatch).each do |oid, batch|
          .card.card-primary.card-outline{id: "card-#{oid}"}
            .card-header
              %h2.card-title
                = batch
                (#{oid})
                = link_to order_path(oid) do
                  = fa_icon 'arrow-alt-circle-right'
              .card-tools
                %a.btn.btn-tool.btn-sm{href: pick_list_order_path(oid, format: :pdf), target: :blank}
                  = fa_icon 'print'
            .card-body.p-0
              %table.table.table-striped
                %thead
                  %th Order Date
                  %th SKU ID
                  %th Manf
                  %th SKU
                  %th Item No
                  %th Desc
                  %th Qty
                  %th Delivered Qty
                  %th Qty Due
                  %th DC Current Qty
                  %th Total Due
                  %th DC Loc

                - ordered_items_in_batch(oid).each do |i|
                  %tr{ class: order_item_row_style(i) }
                    %td.mx-2{ class: order_date_style(i.orderdate)}=i.orderdate.to_date
                    %td.mx-4=i.skuid
                    %td=i.manf
                    %td=i.sku
                    %td=i.itemno
                    %td=i.skudesc
                    %td=i.orderquant
                    %td=i.orderdeliveredquant
                    %td=i.orderquantdue
                    %td=i.dccurquant
                    %td{class: i.totaldue.zero? ? 'bg-danger' : '' }=i.totaldue
                    %td{class: i.dcloc == 'N/A' ? 'bg-danger' : '' }=i.dcloc

- content_for :scripts do
  :coffee
    $("#search").on "keyup", () ->
      value = $(this).val().toLowerCase()
      $(".card-secondary").filter () ->
        order_cards = $(this).find('.card-primary')
        matches = _.filter order_cards, (c) -> c.id.indexOf(value) > -1
        toggle = matches.length > 0
        $(this).toggle(toggle)
    .focus()
