- focus_upload = params[:upload].present?
.content
  .row
    .col-12
      = card_with_tabs style: [:primary, :outline] do
        = tab 'Single' do
          = render partial: 'form'
        - unless @pre_order.order.present?
          = tab 'From Upload' do
            = render partial: 'drop_zone'

- content_for :scripts do
  :coffee
    $(document).ready () ->
      if #{focus_upload}
        $('#upload-tab').tab('show')
      else
        $('#single-tab').tab('show')

      new DropZone '#{upload_pre_order_path(@pre_order)}'
