= default_resource_form([@pre_order, @pre_order_item], read_only: local_assigns[:readonly], wrapper: :vertical_form) do |f|
  .row.post
    .col-3
      = f.association :sku1, as: :sku_selection, source_url: '/skus'
      = f.association :sku2, as: :sku_selection, source_url: '/skus', required: !creating_resource?
    .col-3
      = f.input :orderquant1
      = f.input :orderquant2
    .col-3
      = f.input :orderpriceper1
      = f.input :orderpriceper2
    .col-3
      = f.input :orderpricetotal1
      = f.input :orderpricetotal2
  .row.post
    .col-4
      = f.association :purchase_order, as: :sku_po_history_selection, for_sku: :skuid2
    .col-4
      = f.input :orderaupriceper
    .col-4
      = f.input :orderdate, as: :date, wrapper: :vertical_form
  .row
    .col-1
      = f.input :preorderurgent, wrapper: :vertical_form
    .col-3
      = f.association :code
    .col-8
      = f.input :notes

  - unless local_assigns[:readonly]
    .row
      = simple_form_submit(f)

- content_for :scripts do
  = javascript_include_tag 'pre_order_item'

  :coffee
    $(document).ready () -> new LinkedSkuPoSelects('#pre_order_item_skuid2', '#pre_order_item_poid')
