= simple_form_for [@pre_order, @pre_order_item],
    builder: NoAutocompleteFormBuilder,
    defaults: { disabled: local_assigns[:readonly], stimulus: {controller: 'preorderprice'} },
    wrapper: :vertical_form do |f|

  .row
    .col-12
      = render partial: 'customers/billing_mode', locals: { customer: @pre_order_item.pre_order.customer }

  - if @pre_order.customer.sku_infos.always.pluck(:skuid).include? @pre_order_item.skuid1
    - only_hint = capture_haml do
      = fa_icon 'arrow-circle-right'
      = link_to 'Customer', customer_path(@pre_order.customer, anchor: 'sku_preferences'), target: :blank
      specifies to only use #{@pre_order_item.sku1}"
  .row{ 'data-controller' => 'preorderprice' }
    .col-md-12.col-lg-6
      = f.association :sku1, as: :sku_selection, source_url: skus_path
    .col-md-4.col-lg-2
      = f.input :orderquant1, stimulus: { target: :qty, action: 'preorderprice#calculate' }
    .col-md-4.col-lg-2
      = f.input :orderpriceper1, stimulus: { target: :pricePer, action: 'preorderprice#calculate' }, as: :currency
    .col-md-4.col-lg-2
      = f.input :orderpricetotal1, stimulus: { target: :priceTotal }, as: :currency, calculated: true

  .row.post{ 'data-controller' => 'preorderprice' }
    .col-md-12.col-lg-6
      - if only_hint
        = f.association :sku2,
          as: :sku_selection,
          disabled: true,
          default_value: @pre_order_item.sku1,
          hint: only_hint
        = f.hidden_field :skuid2, value: @pre_order_item.skuid1
      - else
        - hint = capture_haml do
          - unless local_assigns[:readonly]
            = fa_icon 'cog spin', text: "Select a SKU"
        = f.association :sku2, as: :sku_selection, source_url: skus_path, hint: hint

    .col-md-4.col-lg-2
      = f.input :orderquant2, stimulus: { target: :qty, action: 'preorderprice#calculate' }
    .col-md-4.col-lg-2
      = f.input :orderpriceper2, stimulus: { target: :pricePer, action: 'preorderprice#calculate' }, as: :currency
    .col-md-4.col-lg-2
      = f.input :orderpricetotal2, stimulus: { target: :priceTotal }, as: :currency, calculated: true

  .row.post
    .col-md-12.col-lg-6
      = f.association :purchase_order, as: :sku_po_history_selection, for_sku: :skuid2
    .col-md-4.col-lg-2
      = f.input :orderaupriceper, as: :currency
    .col-md-4.col-lg-2
      .row
        .col-10
          = f.input :suggested_price, label: 'PO Price/Per + 20%', as: :currency
        .col-2
          %button.btn.btn-small.btn-outline#accept-suggested-price= fa_icon 'arrow-up'
    .col-md-4.col-lg-2
      = f.input :orderdate, as: :date
  .row
    .col-lg-1.col-md-1
      = f.input :preorderurgent
    .col-lg-3.col-md-3
      = f.association :code
    .col-lg-8.col-md-12
      = f.input :notes

  - unless local_assigns[:readonly]
    .row
      = simple_form_submit(f)

- content_for :scripts do
  = javascript_include_tag 'pre_order_items_form'

  :coffee
    $.get
      url: "/customers/#{@pre_order.customer.custid}/sku_infos/never",
      success: (data) ->
        $(document).prop('SKU_INFOS', data)
