= simple_form_for [@pre_order, @pre_order_item],
    builder: NoAutocompleteFormBuilder,
    defaults: { disabled: local_assigns[:readonly], stimulus: {controller: 'preorderprice'} },
    wrapper: :vertical_form do |f|

  .row{ 'data-controller' => 'preorderprice' }
    .col-md-12.col-lg-6
      = f.association :sku1, as: :sku_selection, source_url: '/skus'
    .col-md-4.col-lg-2
      = f.input :orderquant1, stimulus: { target: :qty, action: 'preorderprice#calculate' }
    .col-md-4.col-lg-2
      = f.input :orderpriceper1, stimulus: { target: :pricePer, action: 'preorderprice#calculate' }, as: :currency
    .col-md-4.col-lg-2
      = f.input :orderpricetotal1, stimulus: { target: :priceTotal }, as: :currency, calculated: true

  .row.post{ 'data-controller' => 'preorderprice' }
    .col-md-12.col-lg-6
      = f.association :sku2, as: :sku_selection, source_url: '/skus'
    .col-md-4.col-lg-2
      = f.input :orderquant2, stimulus: { target: :qty, action: 'preorderprice#calculate' }
    .col-md-4.col-lg-2
      = f.input :orderpriceper2, stimulus: { target: :pricePer, action: 'preorderprice#calculate' }, as: :currency
    .col-md-4.col-lg-2
      = f.input :orderpricetotal2, stimulus: { target: :priceTotal }, as: :currency, calculated: true

  .row.post
    .col-md-12.col-lg-6
      = f.association :purchase_order, as: :sku_po_history_selection, for_sku: :skuid2
    .col-md-4.col-lg-2
      = f.input :orderaupriceper, as: :currency
    .col-md-4.col-lg-2
      .row
        .col-10
          = f.input :suggested_price, label: 'PO Price/Per + 20%', as: :currency
        .col-2
          %button.btn.btn-small.btn-outline#accept-suggested-price= fa_icon 'arrow-up'
    .col-md-4.col-lg-2
      = f.input :orderdate, as: :date
  .row
    .col-lg-1.col-md-1
      = f.input :preorderurgent
    .col-lg-3.col-md-3
      = f.association :code
    .col-lg-8.col-md-12
      = f.input :notes

  - unless local_assigns[:readonly]
    .row
      = simple_form_submit(f)

- content_for :scripts do
  :coffee
    $(document).ready () -> new LinkedSkuPoSelects('#pre_order_item_skuid2', '#pre_order_item_poid')

    $('#accept-suggested-price').click (e) ->
      e.preventDefault()
      $el = $('#pre_order_item_orderpriceper2')
      $el.val($('#pre_order_item_suggested_price').val()).flash()

      window.Stimulus.controllers[1].calculate($el[0])

    $('#pre_order_item_poid').on 'select2:select', (e) =>
      price = currency(e.params.data.price)
      $('#pre_order_item_orderaupriceper').val(price).flash()
      $('#pre_order_item_suggested_price').val(price.multiply(1.2)).flash()

    # check for same/different SKU selection and update code and proposed qty as appropriate
    $('#pre_order_item_skuid1, #pre_order_item_skuid2').on 'select2:select', (e) =>
      id1 = $('#pre_order_item_skuid1').select2('data')[0].id
      id2 = $('#pre_order_item_skuid2').select2('data')[0].id

      if id1 == id2
        newVal = $('#pre_order_item_orderquant1').val()
        $el = $('#pre_order_item_orderquant2').val(newVal).flash()

        window.Stimulus.controllers[1].calculate($el[0])

      if id2
        val = if id1 == id2 then 1 else 2

        $code = $('#pre_order_item_preorderitemcode')
        $code.val(val).trigger 'change'

        $s = $code.parent().find('span.select2-selection__rendered').flash()

