.content
  = simple_form_for @prospect, html: {novalidate: true},
    builder: NoAutocompleteFormBuilder,
    defaults: { disabled: local_assigns[:readonly], wrapper: :vertical_form } do |f|
    .row
      .col-12
        .card.card-primary.card-outline.card-tabs
          .card-body
            #tabContent.tab-content
              #general.tab-pane.fade.active.show{"aria-labelledby" => "general-tab", :role => "tabpanel"}
                .row.post
                  .col-9
                    = f.input :office_name
                  .col-3
                    = f.association :clinic_type
                  .col-6
                    = f.input :status, collection: Prospect::STATUS
                  .col-6
                    = f.association :assigned_to
                .row.post
                  .col-4.offset-1
                    = effective_address_fields(f, :primary_address, field_order: [:address1, :address2, :city, :state_code, :postal_code, :country_code])
                  .col-4.offset-1
                    = f.input :primary_contact
                    = f.input :contact_phone
                    = f.input :alt_phone

                .row.post
                  .col-12
                    = f.input :doctors_names
                .row
                  .col-12
                    = f.input :notes

    - unless local_assigns[:readonly]
      .row
        = simple_form_submit(f)
