= default_resource_form([@order, @order_item], read_only: local_assigns[:readonly], wrapper: :horizontal_form) do |f|
  .row.post
    .col-6
      = f.association :sku, as: :sku_selection
      = f.association :purchase_order, as: :sku_po_history_selection, available_only: true
      = f.input :orderitemsdelivereddate, as: :date
      .row
        .col-5
          = f.input :orderquant, wrapper: :vertical_form
        .col-5
          = f.input :orderdeliveredquant, wrapper: :vertical_form
        .col-2
          = f.input :orderitemsurgent, wrapper: :vertical_form
    .col-6
      = f.input :orderpriceper, as: :currency
      = f.input :orderpricetotal, as: :currency
      = f.input :ordertaxrate
      = f.input :ordertaxtotal, as: :currency
      = f.input :orderdeliverycosttotal, as: :currency
      = f.input :orderfeestotal, as: :currency
      = f.input :ordergrandtotal, as: :currency
      = f.input :orderretailtotal, as: :currency

  - unless local_assigns[:readonly]
    .row
      = simple_form_submit(f)

- content_for :scripts do
  :coffee
    $(document).ready () -> new LinkedSkuPoSelects('#order_item_skuid', '#order_item_poid')
