= simple_form_for [@order, @order_item],
  html: { 'data-controller' => 'oprice' },
  defaults: { disabled: local_assigns[:readonly], stimulus: {controller: 'oprice'} },
  wrapper: :horizontal_form do |f|

  .row.post
    .col-6
      = f.association :sku, as: :sku_selection
      = f.association :purchase_order, disabled: true, collection: []
      = f.input :orderquant, stimulus: {target: :qty, action: 'oprice#updateQty'}
      = f.input :orderitemsurgent
    .col-6
      = f.input :popriceper, label: 'PO Price Per + 20%', as: :currency
      = f.input :orderpriceper,   stimulus: { target: 'pricePer', action: 'oprice#updatePrice' }, as: :decimal
      = f.input :orderpricetotal, stimulus: { target: 'priceTotal' }, calculated: true
      = f.input :ordertaxrate,    stimulus: { target: :taxRate }, input_html: { value: @order.ordertaxrate }
      = f.input :ordertaxtotal,   stimulus: { target: 'taxTotal' }, calculated: true
      = f.input :ordergrandtotal, stimulus: { target: 'grandTotal' }, calculated: true

  - unless local_assigns[:readonly]
    .row
      = simple_form_submit(f)

- content_for :scripts do
  :coffee
    $(document).ready () ->

      $('#order_item_poid').on 'select2:select', (e) ->
        price = currency(e.params.data.price)
        $('#order_item_popriceper').val price.multiply(1.2)

      $('#order_item_skuid').on 'select2:select', (e) ->
        skuid = e.params.data.id

        url   = "/skus/\#{skuid}/po_history?available_only=true"

        $('#order_item_poid').attr disabled: false

        $('#order_item_poid').select2
          minimumResultsForSearch: 10
          allowClear:              true
          placeholder:             'Select...'
          quietMillis:             50
          data:                    [
            id: "null"
            text: ""
          ],
          escapeMarkup: (m) -> m
          ajax:
            url:      url
            dataType: 'json'
            type:     'GET'
            data:              (term) -> search: term
            processResults:    (data) -> results: data.items

          templateSelection: (item) -> if(item.selection) then $(item.selection) else item.text
          templateResult: (item) ->
            return item.text if(!item.result)

            $result = $(item.result)
            $result.find('a').on 'mouseup', (e) -> e.stopPropagation()

            $result


