.row
  .col-3
    %span
      %b=po.poid
    %br
    %span=po.podate&.to_date
    %br
    %span
      %b SKUID: #{po.skuid}
  .col-5
    %span In DC: #{po.in_dc}
    %br
    %span Avaliable: #{po.available}
    %br
    %span
      Expires:
      - if date = po.expiration_date&.to_date
        = date
      - else
        N/A
  .col-2
    %span
      = number_to_currency(po.poorderpriceper)
  .col-2
    .text-right
      %a.btn.btn-blocka.btn-sm.btn-secondary{:href => purchase_order_path(po.poid), :target => "_po"}
        =fa_icon 'external-link-square-alt', text: 'Go to PO', right: true
