- content_for :page_title do
  = @page_title

- resource = (@_effective_resource || Effective::Resource.new(controller_path))
.row
  .col-12
    .card
      .card-header
        %h3.card-title
        .card-tools
          = render_resource_buttons(resource.klass, (action ||= :index) => false)

      .card-body
        - if @datatable
          = render_datatable(@datatable, **(@dt_opts|| {}))

        - elsif instance_variable_get('@' + resource.plural_name).respond_to?(:to_partial_path)
          = render instance_variable_get('@' + resource.plural_name)

        - elsif instance_variable_get('@' + resource.name).respond_to?(:to_partial_path)
          = render instance_variable_get('@' + resource.name)

        - elsif Rails.env.development?
          %p effective_resources index view is not sure what to render.
          %p Define an @datatable, @#{resource.try(:plural_name) || 'a plural'}, or @#{resource.try(:name) || 'a singular'}.
          %p or include Effective::CrudController in your controller

- begin
  - content_for :scripts do
    = javascript_include_tag "#{controller_path}_datatable"
- rescue Sprockets::Rails::Helper::AssetNotFound => e
  - Rails.logger.warn e.message

