- content_for :page_title do
  = @page_title

- resource = (@_effective_resource || Effective::Resource.new(controller_path))
- @resource = instance_variable_get('@' + resource.name) if resource.name

- if @resource
  .row
    .col-12
      .card
        .card-header
          - if @resource.respond_to?(:parent)
            = cancel_button do
              = fa_icon 'backward'
              Back to #{@resource.parent}
          - else
            = cancel_button do
              = fa_icon 'table'
              Back to #{resource.klass.model_name.human} Listing

          .card-tools
            = render_resource_buttons(@resource, show: false, destroy: false)

        .card-body
          - begin
            = render_resource_partial(@resource)
          - rescue
            = render_resource_form(@resource, readonly: true, action: :show)
