!!!
%html{:lang => "en"}
  = render partial: 'layouts/head'

  %body.hold-transition.sidebar-mini.layout-fixed.layout-navbar-fixed.pace-success.pace-done
    .wrapper
      = render partial: 'layouts/nav'
      = render partial: 'layouts/sidebar'

      -# Content Wrapper. Contains page content
      .content-wrapper
        = render partial: 'layouts/flashes'

        -# Content Header (Page header)
        .content-header
          .container-fluid
            = bootstrap_breadcrumb

        -# Main content
        %section.content
          .container-fluid
            =yield

      -# = render partial: 'layouts/aside'
    = render partial: 'layouts/footer'
    = yield :scripts

:coffee

- content_for :page_title do
  =@page_title
